*::after
*::before

:root{
    background-color: #dde3ec;
    font-family: 'DM Sans', sans-serif;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: #dde3ec;
}



/* empezamos limpiando todo a cero */
A
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* helpers */

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    background-color: #dde3ec;
    padding: 0;
    
}
h1{
    font-size:8rem;
    font-weight: 600;
    color: $secondary;

}
h2{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
    font-weight: 600;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 20px;
    font-weight: 400;
}

