/* --------- Variables ---------- */

$primary:#2B518C;
$secondary:#455F86; 
$accent:#dde3ec;
$text-color:#18191F;
$text-gray: rgba(21, 20, 57, 0.4);

/* colores */
$whatsapp: #51D34E;
$azulfondo: #2b518c;

$spacing-large:6rem;
$spacing-medium:2,4rem;
$spacing-small:2rem;
$spacing-xsmall:1rem;


/*Font-Sizes*/
$text-large:5.2em;
$text-medium:2.2em;
$text-base:1.6em;
$text-small:1.4em;