@charset "UTF-8";
/* Utilidades */
/* --------- Variables ---------- */
/* colores */
/*Font-Sizes*/
/* --------- Clases rápidas ---------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.max__w450 {
  max-width: 450px; }

.max__w250 {
  max-width: 250px; }

.max__w150 {
  max-width: 150px; }

.max__h450 {
  max-height: 450px; }

.max__h250 {
  max-height: 250px; }

.max__h250 {
  min-height: 250px; }

.max__w1140 {
  max-width: 1140px; }

.min__w250 {
  min-width: 250px; }

.min__w450 {
  min-width: 450px; }

.degradez {
  background-image: linear-gradient(to right, #8276da, #6958de);
  border: 0px; }

.fondoazul {
  background-color: #2b518c; }

.fondogris {
  background-color: #dde3ec; }

.color__blanco {
  color: #ffffff; }

.fondo_blanco {
  background-color: #ffffff; }

.color__primario {
  color: #302F4D; }

.fuente__negra {
  color: #1a1a1a; }

/* ----- mixin ----- */
/* BASE DEL HTML */
*::after
*::before
:root {
  background-color: #dde3ec;
  font-family: 'DM Sans', sans-serif; }

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #dde3ec; }

/* empezamos limpiando todo a cero */
A
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* helpers */
html {
  font-family: 'DM Sans', sans-serif;
  font-size: 62.5%;
  background-color: #dde3ec;
  padding: 0; }

h1 {
  font-size: 8rem;
  font-weight: 600;
  color: #455F86; }

h2 {
  font-size: 4rem; }

h4 {
  font-size: 3rem;
  font-weight: 600; }

h6 {
  font-size: 1.5rem; }

p {
  font-size: 20px;
  font-weight: 400; }

/* VISTAS INDEX */
.titulo {
  margin-top: 50px;
  margin-bottom: 0px; }

.carpidor {
  padding-bottom: 80px; }
  .carpidor__descripción {
    max-width: 500px; }
    .carpidor__descripción h4 {
      margin-top: 5px;
      margin-left: 35px;
      margin-right: 35px;
      margin-bottom: 18px; }
    .carpidor__descripción p {
      margin-bottom: 30px;
      margin-left: 35px;
      margin-right: 35px;
      font-weight: 500; }
    .carpidor__descripción ul {
      margin: 0px;
      padding: 0px; }
    .carpidor__descripción li {
      list-style: none;
      font-size: 20px;
      margin-bottom: 30px;
      margin-left: 35px;
      margin-right: 35px;
      font-weight: 400; }
  .carpidor__img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px; }
  .carpidor__senital {
    width: 500px;
    height: 360px;
    object-fit: cover;
    border-radius: 5px; }

.carousel-control-next-icon {
  width: 4rem;
  height: 4rem; }

.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem; }

.segmento p {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 500; }

.segmento__icono {
  width: 50px;
  height: 50px;
  margin-bottom: 35px; }

.planoZonas {
  width: 90vw; }

.testimonios h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #455F86;
  margin-bottom: 35px; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out; }

.flex-reverse {
  flex-direction: row-reverse; }

.otrosProductos {
  background-color: #dfebe8;
  padding: 50px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
  align-items: center;
  align-content: flex-start; }
  .otrosProductos h2 {
    font-size: 5rem;
    font-weight: 600;
    color: #609a8b;
    margin-bottom: 35px; }
  .otrosProductos h5 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #609a8b;
    margin-bottom: 7px; }
  .otrosProductos img {
    max-height: 60vh;
    width: 70vw;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 12px #00000025);
    object-fit: cover;
    margin-bottom: 50px; }
  .otrosProductos p {
    color: #609a8b;
    font-weight: 600;
    font-size: 1.5rem; }

.piedepagina {
  background-color: #2B518C;
  max-width: 100%; }

.swiper-slide {
  flex-shrink: 0;
  width: auto;
  height: 600;
  position: relative;
  transition-property: transform; }

.clientes__col {
  width: 1000px; }

.testimonios__h5 {
  font-size: 2.5rem; }

.testimonios__carrusel {
  padding-bottom: 130px;
  max-width: 600px; }

.container {
  --bs-gutter-x: 0rem; }

/* LAYOUTS  */
.field {
  margin-bottom: 10px; }

.field label {
  display: block;
  font-size: 12px;
  color: #777; }

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px; }

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none; }

footer {
  background-color: #2B518C; }

.field input {
  border: 1px solid #dde3ec;
  padding: .5em;
  width: clamp(400px, 400px, 500px);
  margin: 15px;
  border-radius: 5px;
  /* min-width: 250px; */
  line-height: 1px;
  font-size: 14px; }

.formu {
  margin: 45px 0 35px 0;
  padding: 10px 35px 10px 35px;
  background-color: #dde3ec;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  max-width: 1080px; }
  .formu__titulo {
    font-size: 2rem;
    font-weight: 600;
    color: #2B518C;
    text-align: start;
    margin: 15px; }
  .formu__msj {
    min-height: 84px; }

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  width: clamp(400px, 400px, 500px);
  background-color: #2B518C;
  margin: 0px 15px 15px 15px;
  color: #fff;
  border: none; }

.infocontacto p {
  font-size: 1.2rem;
  color: #dde3ec;
  margin: 0px; }

.infocontacto h5 {
  color: #dde3ec;
  font-size: 2rem; }

.final h5 {
  color: #dde3ec;
  padding-bottom: 20px;
  font-size: 1.4em; }

.rrss {
  margin: 15px;
  height: 25px; }

.navbarra {
  background-color: #2b518c;
  height: 110px; }
  .navbarra__logo img {
    justify-content: center;
    background-color: #2b518c;
    height: 40px; }
  .navbarra__menu, .navbarra li {
    justify-content: center;
    font-size: x-large;
    color: #dde3ec;
    background-color: #2b518c; }
  .navbarra__link {
    color: #dde3ec;
    background-color: #2b518c;
    margin: 0px 15px 0px 15px; }

.nav-link {
  color: #ffffff;
  background-color: #2b518c; }

.nav-item {
  background-color: #2b518c; }

/* Componentes */
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease; }

.btn-wsp:hover {
  background: #20ba5a; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px; } }

/* MEDIA QUERIES */
@media (min-width: 100px) {
  .container {
    max-width: 100%; } }

/* FONTS  */
